[2017-06-09 11:14] StefBrierre opened #1 "System JS error"
Hello.
I'm trying to add you library to my Angular 4 project,
unfortunatly I have the following error :
Error: (SystemJS) XHR error (404 Not Found) loading http://localhost:3000/ngx-qrcode2
Error: XHR error (404 Not Found) loading http://localhost:3000/ngx-qrcode2
at XMLHttpRequest.wrapFn [as __zone_symbol___onreadystatechange] (http://localhost:3000/node_modules/zone.js/dist/zone.js:1032:39)
at Z

[2017-07-12 20:51] hiddencaliber opened #2 "QR Code not showing up in IE 11 (Version 11.0.9600.18697CO)"
Hi,

I adjusted the polyfills for IE and tried running this app.
The QR Code shows perfectly in Chrome, Firefox and Safari but not in IE11.

Please let me know if there is any external file needed to make it work in IE11.

Thanks.

[2017-08-02 10:19] sherlock1982 opened #3 "Ability to silence log output"
Hi! Thanks for the component. Could you please make a param to silence console.log messages ? Cause we're encoding sensitive urls and don't want to show them in console.

[2017-08-06 15:41] LukasMarx opened #4 "Demo: Social media buttons overlapping text & input"
The text and input of the demo is overlapped by the social media bar. I also noticed a lot of errors in the console.
Im using Chrome Version 59.0.3071.115

![issue](https://user-images.githubusercontent.com/8080408/29004815-72450502-7ace-11e7-98ec-d3b26052f7d1.JPG)
![issue-console](https://user-images.githubusercontent.com/8080408/29004816-7547d9be-7ace-11e7-871b-e8a4927cbc88.JPG)

[2017-08-10 11:10] techiediaries commented on #4
Sorry for that, the errors in the console are related to website scripts not the qrcode library itself.

[2017-08-10 11:10] #4 closed

[2017-08-10 11:17] techiediaries commented on #2
Did you try to change the output mode to canvas:
`
<ngx-qrcode [qrc-value]="value"  [qrc-element-type]="canvas"></ngx-qrcode>
`

[2017-08-10 11:21] techiediaries commented on #3
ok soon

[2017-08-10 11:33] techiediaries commented on #1
Just use Webpack instead of SystemJS, you can use the Angular CLI  which will generate an Angular project based on Webpack.

[2017-08-10 11:33] #1 closed

[2017-08-10 12:26] jayyf9 opened #5 "Too many characters causing error?"
Hi,
When i enter over roughly 1250 characters I get the following error:
[code]

This leads me to believe its too many characters for the QR code but a QR code should be capable of up to 4296 alphanumeric characters. (http://qrcode.meetheed.com/question3.php).

Thanks for any response in advance.

[2017-08-12 00:16] techiediaries commented on #5
You can now specify the version explicitly and also lower the correction level to see if you can get rid of this error, try:

`      <ngx-qrcode
        qrc-value = "value"
        qrc-class = "aclass"
        qrc-version = "40"
        qrc-errorCorrectionLevel = "L">
        </ngx-qrcode>`

[2017-08-12 00:17] techiediaries commented on #3
done!

[2017-08-12 00:17] #3 closed

[2017-08-12 00:17] #2 closed

[2017-08-12 14:11] #5 closed

[2017-08-13 21:42] tjbutz opened #6 "Provide a size property to resize the qr code"

[2017-08-14 11:13] techiediaries commented on #6
It gets resized automatically if it needs that

[2017-08-17 01:34] nathanccleung commented on #6
can I resize the img for display purpose?

[2017-08-17 10:02] techiediaries commented on #6
No it gets resized depending on the amount of data you are encoding but if you need to resize it just for display we'll make sure to add that?

[2017-08-21 04:15] nathanccleung commented on #6
yes just for display, because the original image is quite small if the content is not long enough.

[2017-09-07 19:24] mrv777 opened #7 "Doesn't seem to work with ionic --prod"
Hello,

I get the following error when trying to build for --prod on ionic 3:

[code]

[2017-09-07 22:30] mrv777 commented on #7
Figured it out, have to do this: https://github.com/SuperiorJT/angular2-qrcode/issues/5#issuecomment-300847241

[2017-09-07 22:30] #7 closed

[2017-09-08 09:28] Yachos opened #8 "Download the QRcode"
how to get the URL of the QRcode

[2017-09-12 13:45] mrv777 opened #9 "White Space around QR code"
Hello,

First, thank you for this QR code generator :)
Secondly, is there a reason (or a way to remove), the white space around the QR code.  I attached an image, of what I am referring to as you can see there is white space all around the code in the QR code image.  I can do negative margins with css to make it a little better, but it's not the best solution.

![qrwhitespace](https://user-images.

[2017-09-21 02:27] mautematico opened #10 "Please remove references to old name 'ngx-qrcode2'"
Hola, by some reason, when I use your '@techiediaries/ngx-qrcode' on a new ng-cli app, it works just well on dev environment, but it crashes the app build stage if I try to use it on prod.

The error is shown as follows by CI tool:

`
ERROR in /opt/build/repo/src/$$_gendir/node_modules/@techiediaries/ngx-qrcode/ngx-qrcode2.ngfactory.ts (10,21): Cannot find module 'ngx-qrcode2'.
ERROR in /opt/build

[2017-09-21 12:45] techiediaries commented on #10
hi,

You can for now install ngx-qrcode2

`npm install ngx-qrcode`

Instead of

`npm install @techiediaries/ngx-qrcode`

Until that is fixed

[2017-09-21 14:50] mautematico commented on #10
Yep, that's what I'm doing at the moment.

Gracias.

[2017-09-23 17:13] mautematico commented on #6
@techiediaries if you can point me on the right path, I will try to start a PR to get this feature added.

[2017-09-23 18:09] techiediaries commented on #6
Hi @mautematico  how? do u have any specific question? i.e is it about building the component or code?

[2017-09-25 09:17] Dark-Midnight commented on #6
Hi @nathanccleung .
You can add global styles to the `styles.css` and use `qrc-class` to control the size.

[2017-09-25 12:15] #6 closed

[2017-10-12 21:20] yurik94 commented on #10
same error here on Ionic 3.7.1 in --prod mode

[2017-10-12 21:32] mautematico commented on #10
It is because ionic uses @angular/cli under the hood. Same steps will fix your issue until permanent solution comes:

https://github.com/techiediaries/ngx-qrcode/issues/10#issuecomment-331145562

[2017-10-12 21:58] yurik94 commented on #10
Yup I know, already fixed thanks, just sharing for other people 😄

[2017-11-02 20:25] RuiEEE commented on #8
Any update on this? How to download a file containing the QR code?

[2017-11-03 02:40] Yachos commented on #8
@RuiEEE, I'm getting the URL of the Canvas where I set my QR Code

HTML
--
<ngx-qrcode id="QR_Canvas" qrc-element-type="canvas" [qrc-value] =''></ngx-qrcode>

TS
---
let something = document.querySelectorAll('canvas'),
A = something as HTMLCanvasElement,
somethinUrl = A.toDataURL("image/jpeg");,
somethinUrl.toString();

[2017-11-09 21:17] christianhr opened #11 "installing"
Hi, i'm trying to install ngx-qrcode but when finish to, appears this

<img width="780" alt="captura de pantalla 2017-11-09 a la s 15 13 56" src="https://user-images.githubusercontent.com/20073816/32630083-01ef1d8c-c561-11e7-8850-fbe57ee54a52.png">

after that I try to generate a QR code but I can't

[2017-11-20 08:01] agc93 commented on #8
@techiediaries is there any more reliable method than the canvas-fetch that @Yachos mentions? Or any chance of a property/event binding we could use to get the data URL back?

[2017-12-05 08:05] uzumakinaruto123 commented on #6
@techiediaries  @Dark-Midnight On changing styles, the qr code looks blur if its size is increased. Any chance that `ngx-qrcode` can generate high resolution image?

[2017-12-14 03:41] poldiwa commented on #11
Maybe you're using app is using the old Ionic that uses old version of Angular, try updating your app

https://forum.ionicframework.com/t/guide-how-to-update-to-ionic-3-x/87516

[2018-01-08 20:39] gerard2p commented on #6
An option to generate a High Resolution Image will be great.

[2018-01-10 22:36] daniel-lohse commented on #11
Looks more like the package is not compatible with Angular versions higher than 4 actually ^^

[2018-01-12 12:58] marcburkhardt commented on #6
@techiediaries Could you please reopen this issue? I ran into the same issue as @uzumakinaruto123 and I would very much appreciate it if you added a HighRes option as @gerard2p suggested.

[2018-01-16 18:12] uzumakinaruto123 commented on #6
@gerard2p  @marcburkhardt  If you still looking for an answer, I have found a hack.  Basically, more the length of data string `[qrc-value] = "data"` more is the size of QR code.  So temporarily you can add some redundant garbage in your data along with actual data. I am stringifying a JSON object as value.

[2018-01-16 18:19] uzumakinaruto123 commented on #6
Size also varies depending upon `qrc-version = "8"` ranging from 1 to 40.

[2018-01-20 17:32] gerard2p commented on #6
@uzumakinaruto123 @marcburkhardt  I actually write a custom component and my app based on this so i could actually modify the parameters that are send to QRCode.toDataURL If anyone is interested I can make that component available to everyone.

[2018-01-23 03:05] uzumakinaruto123 commented on #6
@gerard2p would like to check it!

[2018-01-30 05:15] mjunaid720 opened #12 "why is it not working after run "ng build -prod""
why is it not working after run "ng build -prod". i deploy it on prod mode it do not work on production mode. working file in "ng serve".

[2018-02-01 17:45] diegogurgel opened #13 "Add another params from qrcode library"
Would  be nice if we can use scale, color, margin, etc.

[2018-02-08 05:59] tearforfear007 opened #14 "How to get data url in typescript when Qrcode created ?"
Can we have a function to call to get current QR-code data URL?

[2018-02-08 08:59] mautematico commented on #12
dupe of #10

[2018-02-09 07:25] mautematico commented on #14
by "current generated qrcode" do you mean _the bitmap_?

[2018-02-09 07:29] mautematico commented on #11
Please try with `@mautematico/ngx-qrcode` until #15 gets merged.
However, you are going to fall into #10 if you use ng build --prod.

[2018-02-09 12:37] #10 closed

[2018-02-09 16:09] mautematico commented on #12
Fixed by #15.

Please check and confirm

[2018-02-09 16:09] mautematico commented on #11
Fixed by #15.

Please check and confirm

[2018-02-13 09:19] ranjanakash166 commented on #6
@gerard2p will like to check the compoenet.

[2018-02-14 18:15] professor-rage opened #16 "change dimensions?"
Is there a way to change the QR code dimensions and maintain quality?

Thanks

[2018-02-17 10:40] Farrah1996 commented on #14
Any luck with this?

[2018-02-26 21:56] jsidorenko opened #17 "Update npm package on npmjs"
Could you please update a package on npmjs.com?

[2018-03-09 21:22] cmgustavo commented on #17
Please!

[2018-03-15 08:07] Nightbr commented on #16
Same question here.

I look further to this lib which use node-qrcode (seems to be this).

I think we need to make a PR and add @Input width and pass the width parameter to the node-qrcode lib in order to configure the width output of the generated img: https://github.com/soldair/node-qrcode#width

[2018-03-16 00:09] Warriormuffin commented on #16
I am also interested in this being implemented.

[2018-03-16 00:10] Warriormuffin commented on #9
Did you ever figure out a way to remove the white space around the QR code?

[2018-03-17 04:16] Warriormuffin commented on #14
Any chance of a proper proper property bind to the src url that is generated from this? Being able to do something like this [src] would be nice. Need to use this qrcode in jsreports documents

[2018-03-21 21:56] hiddencaliber commented on #2
Yes, I have the same implementation but still same problem is there

[2018-03-22 00:16] hiddencaliber opened #18 "Doesn't work in IE11 on windows 7"
I cloned the demo project from this repo and still found that it is not working in IE11.
Please let me know if you have any clue about it.

thanks

Below is the screen shot of chrome and IE browser-

![image](https://user-images.githubusercontent.com/8962113/37744306-ac74e746-2d44-11e8-9796-05b9f0479fd9.png)

[2018-04-02 21:11] travis1234 opened #19 "Feature Request: Add support for logos"
Hello, would it possible to add support for logos?

[2018-04-07 06:44] juni381 opened #20 "Can't bind to 'qrc-value' since it isn't a known property of 'ngx-qrcode'."
i have install the package with "npm install ngx-qrcode2 --save " and then successfully add the module into app.module.ts.. afterwards i used this package in my component . I am getting following error.. please help!!

`Uncaught Error: Template parse errors:
Can't bind to 'qrc-value' since it isn't a known property of 'ngx-qrcode'.
1. If 'ngx-qrcode' is an Angular component and it has 'qrc-value'

[2018-05-09 07:59] lordgreg opened #21 "Angular 6 support"
With the latest version of ngx-qrcode, the module isn't compatible with angular 6.
[code]

[2018-05-14 13:14] wangren988888 commented on #20
Hello, I have the same problem. Have you solved this problem?

[2018-05-22 13:16] Bramzor commented on #20
Same here +1

[2018-05-22 13:21] Bramzor commented on #20
I ended up using this:  `<ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>` and that seems to be working perfectly. So should use [(qrc-value)] instead of [qrc-value]

[2018-05-24 14:27] bahodirk commented on #20
If you are using lazy-loading, import NgxQRCodeModule on the module where is your page, not on app.module

[2018-05-24 15:21] #20 closed

[2018-05-30 07:20] DanielKelder commented on #21
So is this planning to be looked at?

[2018-06-05 11:13] mkgn opened #23 "Error: Unexpected module 'NgxQRCodeModule' declared by the module 'SharedModule'"
I am using this from multiple modules. Therefore I have defined NgxQRCodeModule in a SharedModule that is accessible from all other modules.

However when i run; the console gives below error.

Error: Unexpected module 'NgxQRCodeModule' declared by the module 'SharedModule'. Please add a @Pipe/@Directive/@Component annotation.

Instead of importing NgxQRCodeModule, if i import the NgxQRCodeCompone

[2018-06-05 12:46] techiediaries commented on #23
Can you show the code of how you add **NgxQRCodeModule** to you shared module?

[2018-06-06 06:05] mkgn commented on #23
Got it sorted. my blunder! Sorry for wasting a thread :(

[2018-06-06 13:31] #23 closed

[2018-07-02 15:56] lizhihui0215 opened #24 "Feature Request: Add text under the QRCode image"
Is that possible to add some text under the QRCode image，so that we can download the image with addition info.

[2018-07-06 06:19] johnsken-jerry opened #25 "Module not found: Error: Can't resolve 'node-zlib-backport'"
**Version**
0.0.8

**Environment**
angular 5.0.0
webpack-cli 3.0.8

[code]

[2018-07-06 06:29] johnsken-jerry commented on #25
I found the reason, because the problems caused by the `pngjs version`.

After trying to upgrade pngjs to the latest version, I succeeded in `webpack` compiling it.

`pngjs upgrade latest`

Now pngjs version is 3.3.3

[2018-09-02 12:01] erBhushanPawar opened #28 "How to change the color of QR code from black"
Can you help me to change QR code color to change that, I tried to give the custom class as well but it was not working.

[2018-09-08 20:04] lolaswift commented on #8
@Yachos You solution didn't work for me. The type casting gave error.

[2018-09-19 08:30] rafa-as opened #29 "Release to npm"
Please @techiediaries can you do the release to npm with the margin, width and the other new inputs?

[2018-10-12 19:27] nicoisz opened #30 "how can we add more than one parameter and get the return in base64"
how can we add more than one parameter and get the return in base64

[2018-10-19 09:04] fxck opened #32 "increase peer deps versions to support angular 7"

[2018-10-29 05:15] bibekananda-pradhan commented on #6
please share whats the work around you have done @gerard2p

[2018-11-30 19:38] AlexCSolis commented on #8
@lolaswift
### HTML
`<ngx-qrcode qrc-element-type="canvas" [qrc-value]="YOUR_DATA"></ngx-qrcode`
`<button ion-button (click)="getImage()">Ver imagen</button>`
### TS
`getImage() {`
`const canvas = document.querySelector("canvas") as HTMLCanvasElement;`
`const imageData = canvas.toDataURL("image/jpeg").toString();`
`alert(imageData);`
`}`

Tested on ionic 3 :)

[2019-01-08 08:50] rafa-as commented on #29
Also upgrading from Angular 6 to 7

[2019-01-15 12:41] rafa-as commented on #25
@techiediaries do you accept PR? Tell me in case of affirmative answer, because I have this same issue  and I've been waiting a long time for a release also upgrading to Angular 7 and some other stuff like https://github.com/techiediaries/ngx-qrcode/issues/29

Can you give us some feedback. We can work on it if you accept the PR and release.

[2019-01-16 21:08] sergiy-talashko commented on #29
@andrea-teom Can you release to npm your changes?

[2019-01-18 10:05] andrea-teom commented on #29
https://www.npmjs.com/package/ngx-qrcode2-custom

Sergiy Talashko ha scritto il 16/01/19 alle 22:09:

[2019-03-07 19:07] Bunny899 commented on #20
how to do?

[2019-03-08 19:58] sebasmdl opened #33 "ngx-qrcode2.component.d.ts -- cannot find module '@angular/core'"

[2019-03-28 06:57] kapil303196 commented on #20
please explain

[2019-04-03 04:12] asd456680 commented on #20
in    **page.module.ts**   not in   app.module.ts

[code]

[2019-04-07 20:04] UzairNoman opened #34 "Error encountered resolving symbol values statically."
I am trying to create a build release for deployment `ionic cordova build android --prod --release` and I am getting this error.
![image](https://user-images.githubusercontent.com/12785891/55689095-142f7180-599a-11e9-93da-1da7e20948a8.png)

Error encountered resolving symbol values statically. Could not resolve ngx-qrcode2 relative to <path_to_app>/src/app/app.module.ts.

My app.module.ts files :

[2019-04-10 12:25] ALEXOTANO commented on #30
@nicoisz After you assign the values (so the ngx-qcode starts generating the QR):
`
let times = 0;
var revisa= setInterval(() => {
				let canvas:HTMLCanvasElement = document.querySelector("canvas");
				times++;
				if (canvas) {
					let d = canvas.toDataURL("image/jpeg").toString();
					console.log('datos de QR: ', d);
					clearInterval(revisa);
				}
				if
				(veces===15){
					clearInterv

[2019-06-06 13:50] StephanKuehn opened #35 "increase peer deps versions to support angular 8"
npm WARN ngx-qrcode2@0.0.9 requires a peer of @angular/core@^6.0.3 but none is installed. You must install peer dependencies yourself.
npm WARN ngx-qrcode2@0.0.9 requires a peer of zone.js@^0.8.26 but none is installed. You must install peer dependencies yourself.

The peer dependencies should be updated to enable this module to work with angular 8,

[2019-06-07 13:49] Ludevik opened #36 "Angular 8 with Ivy enabled"
Currently the `package.json` of ng-qrcode2 contains

`"module": "ngx-qrcode2.js",`

which leads to

`ERROR in ENOENT: no such file or directory, open '<projectPath>/node_modules/ngx-qrcode2/ngx-qrcode2.js`

when Ivy is enabled.

See [related angular issue](https://github.com/angular/angular/issues/30781).

[2019-07-18 18:08] MrTob commented on #8
thats works fine, but i want to share the qr-code, what do I have to do?

[2019-08-06 09:52] rafa-as commented on #35
@techiediaries please, can you do it or accept some PR (I can do it)?

[2019-08-06 11:27] techiediaries commented on #35
@rafa-as, you are welcome to send a PR

[2019-08-06 12:36] rafa-as commented on #35
@techiediaries perfect, we will do the PR this afternoon.

You remember that master is not released yet? I hope that today you can release with the old and new changes.

[2019-08-12 22:01] rafa-as commented on #35
@techiediaries I've been taking a look in deep the library and I'm sure that this library needs a big refactor to get a correct and workable scenario.

Starting for create the library using ng-packagr and the Angular library standards, with a standard development and release flow, changelog and more.

What do you think about it? We can do this work here or if you don't want to maintain this librar

[2019-08-13 00:27] techiediaries commented on #35
Yes, I'm Ok with that. If you want, you can start working on that and I
will surely help as much as I can.

On Mon, Aug 12, 2019 at 11:01 PM Rafa AS <notifications@github.com> wrote:

--
<https://about.me/ahmedbouchefra?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>
Ahmed Bouchefra
about.me/ahmedbouchefra
<https://about.me/ahmedbouchefra?promo=em

[2019-08-13 09:37] rafa-as commented on #35
Perfect @techiediaries we will start soon. Can you give me merge and release permissions?

[2019-08-13 12:58] techiediaries commented on #35
@rafa-as I added you as a collaborator to the repo

[2019-08-13 13:01] rafa-as commented on #35
thanks @techiediaries

[2019-08-24 02:20] zkBounty commented on #35
hey @rafa-as any luck getting this to work?

[2019-09-04 07:34] vinothu opened #37 "Style is not working for QR code image"
I have added qrc-class. but css style is not working.
![Screenshot 2019-09-04 at 1 01 45 PM](https://user-images.githubusercontent.com/46867507/64234710-7f16b180-cf14-11e9-8286-6dc03dc68aa2.png)

[2019-09-04 13:13] #37 closed

[2019-09-04 13:13] vinothu commented on #37
its working now

[2019-09-26 08:00] empystudio opened #38 "Angular Universal - Prerendering failed"
Hi,
I installed the module in my project (Angular 7.2.13) and it's working fine.
When I try to use it with the Angular Univeral I get this error

[code]

I hope this can be fixed

[2019-10-30 05:10] dodongphure commented on #36
Any progress on this? Thanks!

[2019-11-08 02:23] rdev-software commented on #6
Any update ? Changing size in CSS creates blurred image

[2020-01-03 09:32] dmitry-tikva opened #39 "Angular 8 support"
Hello!

I have an issue with upgrading to Angular8

[code]

Can you please help me?
Thanks!

[2020-01-03 09:59] dmitry-tikva commented on #39
Resolved issue!

Just uninstall ngx-qrcode2 before upgrade and install it after upgrade :D

[2020-01-24 09:08] rafa-as commented on #35
@zkBounty I'm working to get this library as a standard Angular Library using ng-packagr

[2020-02-16 15:33] #39 closed

[2020-03-26 13:31] al-mart opened #40 "Unhandled Promise rejection: Fetch error: 404 Not Found"
Hey guys I am having these problem on ngx-qrcode2 Module import ...
`zone.js:672 Unhandled Promise rejection: Fetch error: 404 Not Found
  Instantiating http://localhost:3001/ts
  Loading ts
  Unable to load transpiler to transpile http://localhost:3001/node_modules/ngx-qrcode2/index.js
  Instantiating http://localhost:3001/node_modules/ngx-qrcode2/index.js
  Loading node_modules/ngx-qrcode2/index

[2020-04-01 01:17] mc-perry opened #41 "Ionic/Angular 9 Error: Component import throws Uncaught TypeError: Cannot read property 'id' of undefined"
Importing module into component:

[code]

Using element in html:
[code]

When navigating into the page, Angular throws the following error:
ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'id' of undefined
TypeError: Cannot read property 'id' of undefined
    at registerNgModuleType (VM34 vendor.js:75080)
    at VM34 vendor.js:75098
    at Array.forEach (<anonymous>)
    at reg

[2020-04-08 13:15] majidazn opened #42 "angular 9"
I did upgrade my project’s angular version to 9 and got this error:

ERROR in node_modules/ngx-qrcode2/index.d.ts:3:22 - error NG6002: Appears in the NgModule.imports of StudyModule, but could not be resolved to an NgModule class.

This likely means that the library (ngx-qrcode2) which declares NgxQRCodeModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check i

[2020-04-08 13:35] rafa-as commented on #42
@majidazn we will start to work on it today, to make this library fully compliant with ng-packagr, Angular 9 and SSR.

[2020-04-08 13:38] majidazn commented on #42
how long do you think approximately take for that?

[2020-04-08 13:49] rafa-as commented on #42
I don't know exactly, but we also need this for our apps and migrate to Angular 9 is our priority number one.

[2020-04-19 14:19] Slash7GNR commented on #42
Hey,
Any updates? I've upgraded my app to angular 9 but had to disable ivy, this is the only issue left in my app in order to finally enable ivy :)

[2020-04-20 09:05] rafa-as commented on #42
@techiediaries please can you provide me access to publish to NPM?

[2020-04-20 09:45] techiediaries commented on #42
Yes no problem but did you advance on that, can you show me the changes
here in GitHub?

On Mon, Apr 20, 2020 at 9:05 AM Rafa AS <notifications@github.com> wrote:

--
<https://about.me/ahmedbouchefra?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>
Ahmed Bouchefra
about.me/ahmedbouchefra
<https://about.me/ahmedbouchefra?promo=email_sig&utm_source=p

[2020-04-22 20:43] gkalpak commented on #42
FYI, here is what _I think_ the problem is: https://github.com/angular/angular/issues/36768#issuecomment-618028283

Basically, `package.json > module` points to a non-existent file (`ngx-qrcode2.js` instead of `index.js`).

[2020-04-23 08:19] Slash7GNR commented on #42
Seems like your workaround works! just need to npm install again.

[2020-04-23 08:29] rafa-as commented on #42
We completely refactor this library, using the new Angular Cli releases. This bug will be fixed soon.

[2020-04-24 08:03] manojbharti commented on #20
Not woking for me. I am using Ionic 5.0.7

[2020-04-26 19:35] rafa-as commented on #42
@techiediaries tomorrow we will push the refactor and you can see the PR. Our idea is also to release the code to NPM.

We took a little longer because we have completed the tests 100% and created a complete release system following the standards.

Could you add the CircleCI app to this repo? Our next step includes support to compile, pass the linter and execute the tests.

[2020-04-28 13:51] #25 closed

[2020-04-28 13:57] rafa-as commented on #33
Closed by #43

[2020-04-28 13:57] #33 closed

[2020-04-28 13:57] rafa-as commented on #32
Closed by #43

[2020-04-28 13:57] #32 closed

[2020-04-28 13:58] rafa-as commented on #35
Closed by #43

[2020-04-28 13:58] #35 closed

[2020-04-28 13:58] rafa-as commented on #36
Closed by #43

If the error persists open a new issue

[2020-04-28 13:58] #36 closed

[2020-04-28 13:58] rafa-as commented on #42
Closed by #43

[2020-04-28 13:58] #42 closed

[2020-04-28 14:01] rafa-as commented on #29
@techiediaries can you provide me the NPM permissions to publish the library?

You can check the PR here https://github.com/techiediaries/ngx-qrcode/pull/43

My NPM user is: **rafa-as** https://www.npmjs.com/~rafa-as

Thank you!

[2020-04-29 00:29] techiediaries commented on #29
I added you via Invite maintainer in the settings page but it's not working, can you publish to it or is there another way to give you publish access? 

[2020-04-29 09:19] rafa-as commented on #29
@techiediaries I have access to **@techiediaries/ngx-qrcode** instead of **ngx-qrcode2** . Where you want to have this library? Now it's on **ngx-qrcode2**.

If you want to move it to **@techiediaries/ngx-qrcode** some other changes should be performed.

Now the 9 version is publish on @techiediaries/ngx-qrcode do you want to remove/deprecate ng-qrcode2 or @techiediaries/ngx-qrcode ?

[2020-04-29 13:13] techiediaries commented on #29
@rafa-as I added you to the maintainers of ngx-qrcode2 but I got this error

Internal Service Error
id: c14c8d76-7769-42bb-9728-55cadc43ee95

Then I added you to the organization and it worked but Im not sure why you can't publish to ngx-qrcode2 because It also belongs to this org

[2020-04-29 13:34] rafa-as commented on #29
I only can see
![Screenshot 2020-04-29 at 15 24 47](https://user-images.githubusercontent.com/594574/80601154-bb5fca80-8a2d-11ea-84c1-35bc175beb95.png)

Maybe it's a good idea to move to **@techiediaries/ngx-qrcode**? I have stashed the changes to rename it

Anyway, I have access to other packages under organizations but just only to one package.

[2020-04-29 13:41] techiediaries commented on #29
Ok we can move to @techiediaries/ngx-qrcode

[2020-04-29 15:06] rafa-as commented on #29
@techiediaries I've got the same error granting permissions and it's when left blank the username field.

![Screenshot 2020-04-29 at 15 55 45](https://user-images.githubusercontent.com/594574/80610124-409cac80-8a39-11ea-86d6-a2c870e39d99.png)
![Screenshot 2020-04-29 at 15 52 41](https://user-images.githubusercontent.com/594574/80610133-44303380-8a39-11ea-88ae-3be2be34048b.png)

You must add the us

[2020-04-29 16:09] techiediaries commented on #29
@rafa-as of course I added the username but gives the same error, if you try with two accounts you'll see the error I tried with two accounts of mine and got the same error.

[2020-04-30 17:32] rafa-as commented on #29
@techiediaries FYI from NPM Tech Support:

I'll add more replies about it

[2020-05-01 16:57] rafa-as commented on #29
Good news @techiediaries ! NPM has already fixed the error and now I have access to ngx-qrcode2. I just published the 9 version on ngx-qrcode2.

I am going to deprecate the ngx-qrcode and publish 9.0.1 version with all the ngx-qrcode references replaced by @techiediaries/ngx-qrcode .

[2020-05-01 16:58] rafa-as commented on #29
The package is published now and we can close this issue.

[2020-05-01 16:58] #29 closed

[2020-05-01 16:59] rafa-as commented on #41
@mc-perry can you check the new version 9 please?

[2020-05-01 17:00] rafa-as commented on #40
Can you check the new version 9, please?

[2020-05-01 17:00] rafa-as commented on #38
Can you check the new version 9, please?

[2020-05-01 17:00] rafa-as commented on #34
Can you check the new version 9, please?

[2020-05-01 17:08] rafa-as opened #47 "Move NPM package to @techiediaries/ngx-qrcode"
We've decided to move the NPM from **ngx-qrcode2** to **@techiediaries/ngx-qrcode** and deprecate the ngx-qrcode2 package.

Actions:
- [ ] Publish 9.0.1 version of @techiediaries/ngx-qrcode renaming all the ngx-qrcode2 references and update the README.md
- [ ] Deprecate ngx-qrcode2 to encourage to move to the new package

[2020-05-03 04:35] Abhinav-Mingwal opened #48 "QR-code with is not reflecting provided in style"
<ngx-qrcode
*ngIf="qrCodeValue?.length > 0"
[qrc-value]="qrCodeValue"
qrc-class="aclass"
style="height: 200px;"
qrc-errorCorrectionLevel="M"

200px style not working

[2020-05-03 04:36] Abhinav-Mingwal opened #49 "QR-code with is not reflecting provided in style"
<ngx-qrcode
            *ngIf="qrCodeValue?.length > 0"
            [qrc-value]="qrCodeValue"
            qrc-class="aclass"
            style="height: 200px;"
            qrc-errorCorrectionLevel="M"

</ngx-qrcode>

200px style not working

[2020-05-03 10:28] rafa-as commented on #49
Duplicate #48

[2020-05-03 10:28] #49 closed

[2020-05-03 19:30] Abhinav-Mingwal commented on #48
fixed it a nested Image tag was getting build inside the ngx-qrcode tag which needed the width

[2020-05-03 19:30] #48 closed

[2020-05-06 09:56] #47 closed

[2020-05-12 16:31] rafa-as commented on #28
@erBhushanPawar, for now, is not possible.

[2020-05-12 16:31] #28 closed

[2020-05-12 16:33] rafa-as commented on #30
Closed due inactivity

[2020-05-12 16:33] #30 closed

[2020-05-14 10:41] gibbsvjy007 opened #51 "This likely means that the library (@techiediaries/ngx-qrcode) which declares NgxQRCodeModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy."
This likely means that the library (@techiediaries/ngx-qrcode) which declares NgxQRCodeModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy.

Getting the above error with latest angul

[2020-05-14 10:45] rafa-as commented on #51
Please @gibbsvjy007 update to the latest 9.0.0 version, remove node_modules and install it another time.

The library works properly with Angular 9.

[2020-05-14 10:45] #51 closed

[2020-05-18 20:19] ImFranQ opened #52 "global is not defined error"
When import `NgxQRCodeModule` the cosole shown error:

[x] Angular 8

Log error:
[code]

[2020-05-19 09:12] rafa-as commented on #52
@ImFranQ with Angular 8 you should add the following lines to polyfills.ts

[code]

The error is in the Buffer library

[2020-05-19 09:12] #52 closed

[2020-05-26 18:15] luisKjuarez opened #53 "QR code is not generated"
Hi im using angular 4 to create an app with this module, when i run the application in the browser it doesn't show the code, i thought it was a problem in browser but testing apk on device (Android) is the same problem.
Here is my code:

App.module.ts
[code]

homePage.ts

[code]

homePage.html
[code]

can you help me?

[2020-05-30 15:52] rafa-as commented on #41
Closed due inactivity

[2020-05-30 15:52] #41 closed

[2020-05-30 15:52] rafa-as commented on #40
Closed due inactivity

[2020-05-30 15:52] #40 closed

[2020-05-30 15:52] rafa-as commented on #38
Closed due inactivity

[2020-05-30 15:52] #38 closed

[2020-05-30 15:52] rafa-as commented on #34
Closed due inactivity

[2020-05-30 15:52] #34 closed

[2020-06-07 17:17] danielehrhardt commented on #16
Same here

[2020-06-07 17:19] danielehrhardt commented on #13
[code]

[2020-06-09 08:05] diegolaisocialcities opened #55 "qrcode.component.d.ts has build errors"
Hi,

I can't build my app with this plugin because I have errors on file "qrcode.component.d.ts", in particular with these two lines:

version: import("./qrcode.types").NgxQrcodeVersionType;
errorCorrectionLevel: import("./qrcode.types").NgxQrcodeErrorCorrectionLevels;

where propierties _NgxQrcodeVersionType_ and _NgxQrcodeErrorCorrectionLevels_ "does not exists on type '"./qrcode.types"'. "

Doe

[2020-06-26 13:36] yduartep opened #56 "It is not working after run "ng build -prod" on angular 8 and version 0.0.8 is not available"
I am using angular 8.2.14 and when I try to build my project for prod environment I have an error that was fixed by #15. The problem is that the tag 0.0.8 is not available an when I run the command 'npm install @techiediaries/ngx-qrcode@0.0.8 --save' I receive the error: No matching version found for @techiediaries/ngx-qrcode@0.0.8 and I cannot use the version 9.0.0. So what can I do?

_Originally

[2020-06-26 14:43] rafa-as commented on #53
@luisKjuarez the must be inside the imports array not the providers

[2020-06-26 14:46] rafa-as commented on #55
Which Angular version are you using? and which ngx-qrcode version?

[2020-06-26 14:51] rafa-as commented on #56
@yduartep seems to be something about the imports. We have changed the library name and some other stuff.

Now you should import the library like the [readme](https://github.com/techiediaries/ngx-qrcode#how-to-use-techiediariesngx-qrcode) explains:

[code]

[2020-06-26 15:09] ppRaistlin commented on #56
Thanks for the answer. I have recently installed this module and imported like you said.
But I've got the same error.

[2020-06-26 16:41] rafa-as commented on #56
@ppRaistlin try to remove node_modules, clean the npm/yarn cache and install from scratch

[2020-06-27 01:30] L30D3V commented on #56
Just got the same error. Tried uninstalling previous version, running `npm cache clean --force` and then installing the library again but it didn't work.
Any ideas?

[2020-06-29 07:18] yduartep commented on #56
I already removed the node_modules folder, I also removed the package-lock.json, my import is like @rafa-as said but I still having the same error. It's like on any part of the code, it continue using the old name **ngx-qrcode2** when generate the library

[2020-06-29 08:11] rafa-as commented on #56
I'm using this library in our projects without errors, ngx-qrcode2 it's not used anymore.

@yduartep try to add these lines to polyfills.ts https://github.com/techiediaries/ngx-qrcode/issues/52

[code]

[2020-06-29 18:38] yduartep commented on #56
Still not working. The error generated is the same also after include those changes in the polyfills.ts file.

[2020-07-02 19:51] jaco-terbraak commented on #56
I'm having the same issue. Nothing works.

[2020-07-02 20:09] bergamin commented on #10
@techiediaries is this really fixed? I'm still seeing this error. As the comment from 2017 says, the deprecated package works fine. This one doesn't.

[2020-07-02 20:29] rafa-as commented on #10
@bergamin please, open a new issue. We are working to solve another related issue.

[2020-07-03 00:44] bergamin opened #57 "Error message still referencing ngx-qrcode2"
This might be related to #10.

I'm getting the following error message when `ng serve`:

[code]

As suggested in a comment from 2017 in that issue, using `ngx-qrcode2` directly, works.

Versions:
- Angular CLI: 8.3.20
- Node: 13.11.0
- OS: Windows 10
- Angular: 8.2.14
- @techiediaries/ngx-qrcode: ^9.0.0

Usage (just adding the relevant lines):

- package.json
[code]

- app.module.ts
[code]

- home

[2020-07-04 16:54] mohammadrefaat opened #58 "ERROR Error: Uncaught (in promise): ReferenceError: Cannot access 'PageModule' before initialization"
ERROR Error: Uncaught (in promise): ReferenceError: Cannot access 'ProfilePageModule' before initialization
ReferenceError: Cannot access 'ProfilePageModule' before initialization
    at Module.ProfilePageModule (profile-routing.module.ts:17)
    at app-routing.module.ts:8
    at ZoneDelegate.invoke (zone-evergreen.js:359)
    at Object.onInvoke (core.js:39699)
    at ZoneDelegate.invoke (zone-eve

[2020-07-13 15:18] Slash7GNR opened #60 "Warning alert when upgrading to angular 10"
Hi,
When running ng build / serve, I'm receiving the following warning:
[code]
There is a way to suppress the error by adding 'qrcode' to 'allowedCommonJsDependencies' in the angular.json file.
Is there any way you can solve this warning without suppressing it ?

Best regards,
Nadav

[2020-07-19 02:19] duncan-c commented on #56
I'm also having this exact same problem. Did anyone find a fix?

[2020-07-22 15:53] anakin59490 commented on #57
Hi, Have you found solution ?

[2020-07-22 22:10] bergamin commented on #57
@anakin59490, no. I have not.

They say they are working on a similar problem right now (see #10 last comments), but I expected they would at least have commented something here by now

[2020-07-22 22:16] rafa-as commented on #57
@bergamin we are working to solve this problem ASAP.

[2020-07-22 22:18] bergamin commented on #57
@rafa-as thanks for updating us on this issue

[2020-08-03 17:21] shripatki commented on #10
still getting the error please work

[2020-08-03 17:29] shripatki commented on #56
same issue here

[2020-08-05 22:28] Cambrion commented on #10
Yeah, getting the same error after running `ng build --prod`

[2020-08-11 10:11] rafa-as commented on #57
@bergamin we just published a new [9.1.0](https://github.com/techiediaries/ngx-qrcode/releases/tag/9.1.0) version. Can you check it?

[2020-08-11 10:12] rafa-as commented on #56
Hi there, we just published a new [9.1.0](https://github.com/techiediaries/ngx-qrcode/releases/tag/9.1.0) version. Can you check it please?

[2020-08-11 10:12] rafa-as commented on #55
@diegolaisocialcities we just published a new [9.1.0](https://github.com/techiediaries/ngx-qrcode/releases/tag/9.1.0) version. Can you check it?

[2020-08-11 10:13] rafa-as commented on #53
Closed due inactivity

[2020-08-11 10:13] #53 closed

[2020-08-11 10:15] rafa-as commented on #60
Thanks for your comments @Slash7GNR .

We will work to make this library fully compatible with Angular 10 the next weeks. Stay tuned.

[2020-08-11 10:16] shripatki commented on #56
ok

On Tue, Aug 11, 2020 at 3:42 PM Rafa AS <notifications@github.com> wrote:

--

Shrikant Patki
[image: https://]about.me/shripatki
<https://about.me/shripatki?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=plaintext>

[2020-08-11 10:17] rafa-as commented on #58
@mohammadrefaat it seems that it is not a problem related to this library.

Please if you think that is a ngx-qrcode issue, open a new one issue with more details like the Github issue template.

[2020-08-11 10:17] #58 closed

[2020-08-11 11:11] rafa-as commented on #10
@Cambrion please, check the new 9.1.0 version

[2020-08-11 17:12] rafa-as commented on #56
Thanks @shripatki !

@yduartep @duncan-c @ppRaistlin @jaco-terbraak @L30D3V can you check it, please? Seems to be working the new version.

[2020-08-12 16:58] anakin59490 commented on #57
Hi @rafa-as ,

here is my result:
![image](https://user-images.githubusercontent.com/16132965/90044352-d220e900-dccd-11ea-81a4-ecdb2374544c.png)

[2020-08-12 17:00] rafa-as commented on #57
@anakin59490 can you provide more information about your environment and error, please?

[2020-08-12 17:05] anakin59490 commented on #57
With previous version (9.0.0), I had same error as @bergamin  : Error: Can't resolve 'ngx-qrcode2'

I have just changed version :  9.1.0 and now I have this mesage (cf picture)

[2020-08-12 17:09] rafa-as commented on #57
Sorry @anakin59490 I don't saw your reply.

Did you removed the node_modules folder and reinstall it?

[2020-08-12 17:36] anakin59490 commented on #57
I removed the node_modules and reinstalled it but i get the same error.

I use Angular 6

[2020-08-13 21:07] bergamin commented on #57
@rafa-as, it worked for me. Waiting for next issues on my project to try it out on a real environment

[2020-08-14 08:27] anakin59490 commented on #57
@bergamin can you post your package.json please ? It's may be version conflict..

[2020-08-14 11:40] bergamin commented on #57
@anakin59490, there you go:

<details>
<summary>package.json</summary>

[code]

</details>

[2020-08-14 11:52] rafa-as commented on #57
@anakin59490 I don't test the new version with Angular 6 yet. But I'm sure that doesn't work as @bergamin said because the version is not compatible.

Please, can you open a new issue to check the compatibility and create documentation about this?

@bergamin you can check in the readme the solution about your issue: https://github.com/techiediaries/ngx-qrcode#troubleshoots

[2020-08-14 11:55] rafa-as commented on #57
Closed by #63

As the original issue, it's solved we close this issue. To solve the Angular 6 compatibility open a new issue, please.

[2020-08-14 11:55] #57 closed

[2020-08-14 11:57] rafa-as commented on #56
Closed by #63

[2020-08-14 11:57] #56 closed

[2020-08-14 12:50] anakin59490 opened #64 "Angular 6 build : TypeError: Cannot read property 'kind' of undefined"
I'm getting the following error message when ng build --prod :

![image](https://user-images.githubusercontent.com/16132965/90250806-fb13bc00-de3c-11ea-8ba4-dd359bf9cf1e.png)

## Environment

Angular version: 6.1.4

Version of `@techiediaries/ngx-qrcode`:
"@techiediaries/ngx-qrcode": "9.1.0",

For Tooling issues:
- Node version: 10.15.3
- Platform:  Windows

Others:
"devDependencies": {
    "@angu

[2020-08-26 23:30] manolo07 commented on #10
Yes in fact typing:
[code]
Upgrades version and compiles.

[2020-08-29 13:01] rafa-as commented on #55
Closed due inactivity

[2020-08-29 13:01] #55 closed

[2020-09-18 13:27] jasonmcbride commented on #16
Was width ever added? or is there a way to override the default values?

[2020-09-18 13:48] danielehrhardt commented on #16
![image](https://user-images.githubusercontent.com/19570043/93604904-5ac62f80-f9c6-11ea-8d3f-f08f7a4efb4c.png)

[2020-09-22 23:33] danielehrhardt commented on #16
@professor-rage  maybe you can close this Issue?

[2020-10-08 04:57] beeing commented on #60
Hi, any updates on this?

Is this a simple fix or need some kind of restructuring?

[2020-10-21 15:18] ouassimBenMosbah commented on #6
I am facing the same issue. Any workaround ?

[2020-10-26 19:58] alex88 commented on #9
[code]

[2020-10-26 20:19] alex88 commented on #64
Same on angular 8

[2020-11-09 15:11] SukunaTheGoat commented on #6
Also trying to change the size, if possible without lowering the img quality, but no success so far. The work-around posted above with changing attributes for IMG in css isn't working for me. Help is appreciated.

[2020-11-21 17:44] kyawswarthwin opened #65 "Ionic 5 Angular 10 ionic modal error"
Ionic 5 Angular 10
When using ionic modal show nothing. But work in page.

[2020-11-28 02:40] HuangChunShui commented on #64
Same on angular6，solve by  "npm install ngx-qrcode2"

[2020-12-14 20:30] Maik-Robin commented on #60
Hi, @rafa-as this WARNING Message is still apperaing. We'd like to use your component, but we do have some concerns regarding this Message. Can you provide some more information and has Angular 10 full supported yet?

[2020-12-19 19:15] pallavibiwal commented on #55
i am facing same issue, any success on this

[2021-01-14 12:42] zulis commented on #6
To set width just add [width]="250"

[2021-02-15 11:24] sandeepraju538 commented on #24
Im also looking for this requirement inside a image to have a text label

[2021-03-30 01:21] pauloneill commented on #60
This is still happening for me in Angular 10 - any update please?

[2021-04-09 07:11] thekhegay commented on #19
Any updates?

[2021-08-10 21:53] morgan-wild commented on #60
Up! Same issue here :)

[2021-08-18 11:22] beeing commented on #60
This is also based on https://github.com/soldair/node-qrcode/pull/241 which is not merged.

Also looks like the repo is not really maintained. Perhaps can create fork to test this out.

[2021-09-03 09:01] diogoarm commented on #19
Any updates?

[2021-10-21 05:22] prabhalaxman commented on #65
Did you solved modal window issue?

[2021-11-28 06:46] SNikhill commented on #14
@Warriormuffin and @tearforfear007

Actually, this library creates an `img` tag from a data-url. I believe you should be able to read its source and use the generated QRCode in other places.

Also, since, this library is a wrapper over the `node-qrcode` library, you may be able to get the desired functionality.
https://www.npmjs.com/package/qrcode#todataurltext-options-cberror-url

[2021-12-29 08:43] ilijaprzeski commented on #65
I have also faced such issue. Who can solve this issue?

[2022-03-11 05:23] ritunjaykumar commented on #19
did you find any solution??

[2022-05-17 10:57] bacarPereira commented on #19
It would be really nice to do that. At the moment I'm also looking for a way.

[2022-09-03 22:33] kishoreaoe commented on #8
i am using this logic for downloading the QR code:-

saveQRCode() {
    const qrImageElement = document.getElementsByTagName("img")[0]; //as for me there is only one img tag in my view.
    const imageData = qrImageElement.src; //base64 data is inside the image element.
    const downloadLink = document.createElement("a");
    downloadLink.href = imageData;
    downloadLink.download = this.salesUs

[2022-09-12 22:30] Armando284 commented on #64
Has anyone found a fix for this issue?